* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#main-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(#ECE9E6,#FFFFFF);
}

#chat-container {
    height: 850px;
    width: 1000px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    border: 5px solid rgba(0, 0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#send-container {
    height: 20%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(235, 229, 229);
}
#send-btn {
    border-radius: 10px;
    background-color: rgb(71, 183, 248);
    font-size: large;
    font-weight: bold;
    border: none;
    color: white;
}
#send-btn:hover{
    transform:scale(1.1);
    transition: 0.5s;
    
}

#user-typing-area {
    height: 30%;
    width: 60%;
    border-radius: 10px;
    font-size: large;
    border: 2px solid rgb(160, 158, 158);
}

#send-btn {
    height: 30%;
    width: 15%;
    margin-left: 30px;
}

#message-container {
    height: 80%;
    border-radius: 0px 0px 10px 10px;
    overflow-y: scroll;
}

.user-box {
    background-color: #d8ebfa;
    height: 20%;
    width: 100%;
    border-bottom: 1px solid rgb(199, 193, 193);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-out;
}

.user-info {
    width: 100%;
    height: 75%;
    display: flex;
}

.user-img {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img {
    width: 70%;
    height: 70%;
    object-fit: cover;
    border-radius: 50px;
}
.user-data {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.user-email {
    height: 35%;  
}

.user-email > h4 {
    margin: 5px 0px 0px 5px;
}

.user-message {
    height: 65%;
    display: flex;
    align-items: center;
}

#user-message > p {
    margin-left: 10px;
}

.delete-section {
    height: 25%;
    display: flex;
    align-items: center;
}

.delete-section button {
    font-size: 16px;
    font-weight: bold;
    width: 100px;
    background:linear-gradient(rgb(253, 115, 115),rgb(219, 50, 50));
    color: white;
    border-radius: 5px;
    border: none;
}

.delete-section button:hover {
    transform: scale(1.05);
}
.user-message > p {
    padding-left: 5px;
}
